---
import MarketingLayout from '../layouts/MarketingLayout.astro';
---

<MarketingLayout title="Contact us" description="Get in touch with the MakerVault team.">
  <div class="container mx-auto px-4 max-w-xl pt-24 pb-16">
    <div class="mb-12 pt-8 text-center">
      <h1 class="mb-2 font-bold text-5xl">Contact us</h1>
      <p class="text-balance text-lg opacity-50">
        We are here to help you. Please use the form below to get in touch with us.
      </p>
    </div>

    <iframe
      src="https://link.groovi.pro/widget/form/TDF32CKzkR8xFMF0oyLV"
      style="width:100%;height:764px;border:none;border-radius:3px"
      id="inline-TDF32CKzkR8xFMF0oyLV"
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="MakerVault"
      data-height="764"
      data-layout-iframe-id="inline-TDF32CKzkR8xFMF0oyLV"
      data-form-id="TDF32CKzkR8xFMF0oyLV"
      title="MakerVault"
    ></iframe>
    <script is:inline src="https://link.groovi.pro/js/form_embed.js"></script>
  </div>
</MarketingLayout>
